#!/bin/bash

# Get the current date and time
timestamp=$(date "+%Y.%m.%d.%H%M")

# Update the version in the .txt file
echo $timestamp > client\client.info
echo $timestamp > server\server.info
git add client\client.info
git add server\server.info
